//
// module: home
//
.hero,
.main,
.aside {
	@include box-(12,1,1);
}

img {
	@include padding-tb(0,2);
}

p,
ul {
	@include padding-tb(0,2);
}

blockquote {
	font-style: normal;
	font-weight: bold;
	font-size: 1.2em;
	@include padding-tb(0,2);

	blockquote {
		padding: 0;
	}

	p {
		padding-bottom: 0;
	}
}

cite {
	font-size: 0.8em;
	font-weight: normal;
}
